GiboRenderer/Debug
GiboRenderer/Release
GiboRenderer/x64
GiboRenderer/Dependencies
GiboRenderer/GiboRenderer/Debug
GiboRenderer/GiboRenderer/Release
GiboRenderer/GiboRenderer/x64
GiboRenderer/GiboRenderer/Models
GiboRenderer/GiboRenderer/Images
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.db
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.opendb
GiboRenderer/.vs/GiboRenderer/v15/ipch/AutoPCH/588a83f6c9d6e0f/MEMORYPRACTICE.ipch
GiboRenderer/.vs/GiboRenderer/v15/.suo
*.ipch
